<!-- search module: accepts two parameters -->
<div class="row mt-2">
  <!-- <button type="button" class="btn cur-p btn-primary" (click)="createNew()" routerLinkActive="router-link-active">Create
    {{addButton}}</button> -->
</div>
<div class="row mt-2">
  <app-search [terms]="resultArray" [parameters]="columns" (onFilter)="reDraw($event)">
  </app-search>
</div>

<div class="row" *ngIf="isValid">
  <p-table #dt [columns]="columns" [value]="rows" [paginator]="true" [rows]="10" [scrollable]="true"
    [(selection)]="dtSelectedRows">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let column of columns">{{column.name}}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-col let-rowIndex>
      <tr [pSelectableRow]="rowData" [pSelectableRowIndex]="rowIndex">
        <td>
          <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
        </td>
        <td *ngFor="let column of columns">{{rowData[column.attr]}}
        <td>
      </tr>
    </ng-template>
  </p-table>
</div>
